{% load shop_tags %}
<div class="card_full_container">
    <div class="card">
        {% if shop_item.img %}
        <div class="card_full_img"><img src="{{ shop_item.img.url }}" alt="Изображение товара" width="660" height="500">
        </div>
        {% else %}
        <div class="card_full_img"><img src="../../../img/img/img_null.png" alt="" width="540" height="420"></div>
        {% endif %}
        <div class="card_full">
            <div class="card_item">
                <div class="card_full_name">{{ shop_item.name }}</div>
                <div class="card_full_category">Категория: <a href="{{ shop_item.category.get_absolute_url }}">{{shop_item.category }}</a></div>
                <div class="card_full_status">{{ shop_item.status }}</div>
            </div>
            <div class="card_full_purchase">
                <div class="card_full_price">{{ shop_item.price }}₽</div>
                <div class="card_amount">
                    <button id="minus" onclick="counter(this)"> - </button>
                    <input type="number" min="1" max="100" step="1" value="1" id="amountCounter">
                    <button id="plus" onclick="counter(this)"> + </button>
                </div>
                <div class="card_full_basket"><form action= "/cart/add/{{ shop_item.id }}" method="post">
                    {{ cart_shop_form }}
                    {% csrf_token %}
                    <button type="submit">В корзину</button>
                </form></div>
            </div>
        </div>
    </div>
</div>