{% extends 'base.html' %}

{% block title %}{{name}}{% endblock %}

{% block slider_container %}
<div class="slider_container">
    <div class="slider">
        <div class="slider_line">
            <img src="../../../img/img/1.jpg" id="slide1">
            <img src="../../../img/img/2.jpg" id="slide2">
            <img src="../../../img/img/3.jpg" id="slide3">
            <img src="../../../img/img/4.jpg" id="slide4">
        </div>
        <input checked type="radio" class="dot" name="slider" id="1" onclick="slides_number(0)">
        <input type="radio" class="dot" name="slider" id="2" onclick="slides_number(1)">
        <input type="radio" class="dot" name="slider" id="3" onclick="slides_number(2)">
        <input type="radio" class="dot" name="slider" id="4" onclick="slides_number(3)">
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <nav class="navbar_container">
        <ul class="navbar_menu">
            {% for item in categories %}
            <li>
                <a class="navbar_button" href="{% url 'category' item.pk %}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="card_container">
        {% for item in shop %}
        <div class="card_mini">
            {% if item.img %}
            <div class="card_mini_img"><img src="{{ item.img.url }}" alt="Изображение товара" width="375" height="295">
            </div>
            {% else %}
            <img src="../../../img/img/img_null.png" alt="" width="375" height="295">
            {% endif %}
            <div class="card_mini_name">{{ item.name }}</div>
            <div class="card_mini_category"></div>
            <div class="card_mini_status">{{ item.status }}</div>
            <div class="card_mini_line"></div>
            <div class="card_mini_amount">
                <label for="amountInput" class="card_mini_amount_label">Введите количество товара:</label>
                <input type="number" value="1" id="amountInput">
            </div>
            <div class="card_mini_purchase">
                <div class="card_mini_price">{{ item.price }}</div>
                <div class="card_mini_basket">
                    <button>
                        <h2>В корзину</h2>
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        Неполучилось...
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block description %}
<div class="description">
    <h1>Военная миниатюра "Vahin-shop"</h1>
    <p>Слайдеры (ротаторы контента[изображений, текста, видео]) присутствуют в каждом проекте. В интернете,
        реально,
        куча проектов, где можно скачать и подобрать по своему вкусу практически любой плагин слайдера. Однако,
        бывают ситуации, когда подключать к проекту слайдер, минимизированная версия которого весит от 10Кб —
        нецелесообразно.</p>
</div>
{% endblock %}