{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="about_container">
        <div class="about_text">
            <h2>Службы доставки:</h2>
            <p>Доставка осуществляется курьерскими службами «СДЕК «(рекомендуемый вид доставки) и «Почта России» по всей территории России и стран СНГ.</p>
            <h2>Варианты оплаты:</h2>
            <p>Заказы до 5000₽ отпраляются как по предоплате, так и с оплатой при получении(на выбор клиента).</p>
            <p>Заказы от 5000₽ и больше отправляеются только по 100% предоплате. После оформления заказа данные для оплаты будут высланы на указанные контакты.</p>
            <h2>Сбор заказа:</h2>
            <p>Сборка заказа в среднем занимает 3-4 дня. После окончания сборки с вами свяжется работник для продтверждения отправки. Заказ может быть отправлен в этот же день.</p>
        </div>
        <div class="about_content">
            <h2>Также вы можете забрать заказ самововозом, по адресу г.Екатеринбург, ул. Начдива-Онуфриева 55.</h2>
            <p>Схема проезда:</p>
            <p>Заранее свяжитесь с работником, чтобы он встретил вас у КПП.</p>
            <img src="../../../../static/img/road.png" alt="Схема проезда" width="600px">
            <br>
            <p>Если у вас еще остались вопросы, можете их задать на почту или телеграм, нажав соответствующие кнопки.</p>
            <div class="footer_contact">
                <a href="mailto:i.voxin@yandex.ru">Почта для связи: тык</a>
                <a href="tg://resolve?domain=vahin_shop">Телеграм: тык</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}