{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="card_full_container">
    <div class="card">
        <div class="card_full_img"><img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/img_null.png' %}{% endif %}"
                alt="Изображение товара" width="800" height="533"></div>
        <div class="card_full">
            <div class="card_item">
                <div class="card_full_name">{{ product.name }}</div>
                <div class="card_full_category">
                    {% for category in product.category.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="card_full_purchase">
                <div class="card_full_status">
                    {% if product.stock %}
                    <div class="card_full_true">
                        <p>В наличии</p>
                    </div>
                    {% else %}
                    <div class="card_full_false">
                        <p>Нет в наличии</p>
                    </div>
                    {% endif %}
                </div>
                <div class="card_container_purchase">
                    <div class="card_full_price">{{ product.price }}₽</div>
                    <div class="card_amount">
                        <button id="minus" onclick="counter(this,'{{product.id}}')"> -</button>
                        <input type="number" min="1" max="10000" step="1" value="1" id="amountCounter_{{product.id}}">
                        <button id="plus" onclick="counter(this,'{{product.id}}')"> +</button>
                    </div>
                    <div class="card_full_basket">
                        <button type="submit" onclick="fetchData('{{product.id}}')">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="card_full_description">{{ product.description }}</div>
        </div>
    </div>
    <script defer src="{% static 'js/fetchData.js' %}"></script>
</div>
{% endblock %}