{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="card_container">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
        <div class="card_mini">
            <div class="card_mini_img">
                <a href="{{ product.get_absolute_url }}"><img
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/img_null.png' %}{% endif %}"
                        alt="Изображение товара" width="375" height="295"></a></div>
            <div class="card_mini_name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></div>
            <div class="card_mini_category"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
            </div>
            <div class="card_mini_status">{{ product.available }}</div>
            <div class="card_mini_line"></div>
            <div class="card_mini_purchase">
                <div class="card_mini_price">{{ product.price }}₽</div>
                <div class="card_mini_amount">
                    <button id="minus" onclick="counter(this)"> -</button>
                    <input type="number" min="1" max="10000" step="1" value="1" id="amountCounter">
                    <button id="plus" onclick="counter(this)"> +</button>
                </div>
                <div class="card_mini_basket">
                    <button type="submit" onclick="fetchData('{{product.id}}')">В корзину</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        Неполучилось...
        {% endfor %}
    </div>
    <script>
        res_request = {
            quantity: 1,
            update: false,
            csrfmiddlewaretoken: getCookie('csrftoken')
        }

        function fetchData(id) {
            $.ajax({
                type: "POST",
                // url: "/cart_add/{{product.id}}",
                url: `/cart/add/${id}/`,
                dataType: 'json',
                data: res_request,
                success: function (data) {
                    console.log('data')
                    // window.location.href = 'cart';
                }
            });
        }


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
</div>
{% endblock %}