<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vahin-shop{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/main.css' %}" type='text/css' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <header>
        <div class="header">
            <ul class="header_list_container">
                <li><a class="header_list_button" href="{% url 'shop:about' %}">Оплата|Доставка|Контакты</a></li>
            </ul>
            <a href="{% url 'shop:product_list' %}" class="header_logo">
                <img src="../../../static/img/Logo.jpg" alt="Логотип сайта" width="240" height="60">
            </a>
            <ul class="header_cabinet_container">
                {% if user.is_authenticated %}
                <li><a class="header_list_button" href="{% url 'users:reg' %}">Личный кабинет</a></li>
                <li><a class="header_list_button" href="{% url 'users:exit' %}">Выход</a></li>
                {% else %}
                <li><a class="header_list_button" href="{% url 'users:reg' %}">Регистрация</a></li>
                <li><a class="header_list_button" href="{% url 'users:login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <!-- {% block slider_container %}slider_container{% endblock %} -->

    {% block content %}content{% endblock %}

    <div class="footer">
        <div class="footer_container">
            <div class="footer_contact">
                <a href="mailto:i.voxin@yandex.ru">Почта для связи: тык</a>
                <a href="tg://resolve?domain=vahin_shop">Телеграм: тык</a>
            </div>
            <div class="footer_law">
                <p>Вся представленная продукция сувенирная и не является игрушкой! © ИП Вахин (16+) (2023)</p>
            </div>
        </div>
    </div>

    <script defer src="{% static 'js/counter.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
</body>