{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Корзина
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Стоимость одного товара</th>
            <th>Стоимость всех товаров</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}"><img
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/img_null.png' %}{% endif %}"
                        alt="Изображение товара">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <button type="submit">Обновить</button>
                    {% csrf_token %}
                </form>
            </td>
            <td class="push"><a href="{% url 'cart:cart_remove' product.id%}">Удалить</a></td>
            <td>{{ item.price }}₽</td>
            <td>{{ item.total_price }}₽</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td colspan="4"></td>
            <td>Общая стоимость корзины</td>
            <td>{{ cart.get_total_price }}₽</td>
        </tr>
        <tr>
            <td class="push"><a href="{% url 'shop:product_list' %}" class="button light">Вернуться в магазин</a></td>
            <td colspan="4"></td>
            <td class="push"><a href="{% url 'orders:order_create' %}" class="button">Оформить заказ</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}