{% extends 'base.html' %}

{% block title %}{{name}}{% endblock %}

<!-- {% block slider_container %}
<div class="slider_container">
    <div class="slider">
        <div class="slider_line">
            <img src="../../../img/img/1.jpg" id="slide1">
            <img src="../../../img/img/2.jpg" id="slide2">
            <img src="../../../img/img/3.jpg" id="slide3">
            <img src="../../../img/img/4.jpg" id="slide4">
        </div>
        <input checked type="radio" class="dot" name="slider" id="1" onclick="slides_number(0)">
        <input type="radio" class="dot" name="slider" id="2" onclick="slides_number(1)">
        <input type="radio" class="dot" name="slider" id="3" onclick="slides_number(2)">
        <input type="radio" class="dot" name="slider" id="4" onclick="slides_number(3)">
    </div>
</div>
{% endblock %} -->

{% block content %}
{% include '_content_card.html'%}
{% endblock %}