* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

header {
    width: 100%;
    background-color: #E8AA31;
}

.header {
    width: 82.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.header ul{
    padding: 0;
    list-style: none;
}

.header_list_container {
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_list_container li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.header_logo img {
    margin-right: 40px;
    margin-left: 40px;
}

.header_cabinet_container {
    width: auto;
    height: 90px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_cabinet_container li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.header_list_button,
.header_list_container,
.header_cabinet_container,
.sidebar_cart,
.header_logo {
    cursor: pointer;
}

.sidebar{
    width: 100%;
    background-color: #dedede;
}

.sidebar_container {
    display: flex;
    width: 82.5%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sidebar_search_container{
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 400px;
    height: 41px;
    background-color: #f6f6f6;
}

.sidebar_search {
    padding: 0 10px;
    width: 400px;
    border: 1px solid #3a3f45;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15)

}

.sidebar_input {
    border: none;
    outline: none;
    width: 377px;
    height: 41px;
    background-color:#f6f6f6;
    font-size: 17px;
}

.sidebar_search_button {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../../../img/img/search.svg) no-repeat;
    background-color: #f6f6f6;
    background-size: 100%;
    cursor: pointer;
    margin-top: 3px;
}

.sidebar_cart {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.sidebar_cart_full{
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 8px;
    border-radius: 12px;
    background-color: #E8AA31;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15)
}

.sidebar_cart_full a{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: #141414;;
}

.sidebar_cart_empty{
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 8px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15)
}

.sidebar_cart_empty a{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: #141414;;
}

.navbar{
    width: 100%;
    background-color: #dedede;
}

.navbar_container {
    display: flex;
    width: 82.5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.navbar_container a{
    text-decoration: none;
    color: #141414;
    font-size: large;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

/* .slider_container {
    max-width: 100%;
}

.slider {
    max-width: 100%;
    width: fit-content;
    margin: auto;
    overflow: hidden;
}

.slider_line {
    display: flex;
    position: relative;
    transition: all ease 1s;
} */

.footer {
    width: 100%;
    background-color: #3a3f45;
}

.footer_container {
    width: 82.5%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.footer_contact {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contact a {
    text-decoration: none;
    color: #141414;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: #E8AA31;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.footer_law{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_law p{
    color: #141414;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

/* .about {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;

}

.about_restrictions,
.about_privacy_policy {
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
}

.about_restrictions h2 {
    color: #E8AA31;
    text-align: center;
}

.about_restrictions h3,
.about_privacy_policy h2,
h3 {
    color: #E8AA31;
    margin-top: 12px;
    text-align: center;

}

.about_restrictions p,
.about_privacy_policy p {
    color: #141414;
    margin-top: 12px;
    text-align: justify;
} */

.content{
    width: 100%;
    background-color: #dedede;
}

.content_name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82,5%;
}

.content_name h1{
    margin-left: 40px;
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card_mini {
    width: 375px;
    height: 515px;
    margin: 10px;
    border-radius: 12px;
    background-color: #FEFEFE;
    box-shadow: 0 20px 30px 0px rgba(0,0,0,0.15);

}

.card_mini_img {
    width: 375px;
    height: 295px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_mini_img a img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_mini_name {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 12px;
    background-color: #f6f6f6;
}

.card_mini_name a{
    text-decoration: none;
    font-weight: 600;
    color: #141414;
    font-family: 'Montserrat', sans-serif;
}

.card_mini_name a:hover, .card_category_container a:hover{
    color: #E8AA31;
}

.card_category_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.card_category_container a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
    margin: 3px;
    padding: 5px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.card_mini_status{
    display: flex;
    width: fit-content;
    height: min-content;
}

.card_status_true p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px;
    border-radius: 12px;
    background-color: #00FF7F;
}

.card_status_false p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px;
    border-radius: 12px;
    background-color: #FF6347;
}

.card_mini_line {
    height: 2px;
    width: 335px;
    background: #E8AA31;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.card_mini_purchase {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    display: flex;
    width: min-content;
    height: min-content;
    border-radius: 12px;
    box-shadow: 0 20px 30px 0px rgba(0,0,0,0.15);
}

.card_mini_price {
    font-weight: 600;
    font-size: 140%;
    color: #fe9611;
    width: 72px;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #f6f6f6;
}

.card_mini_basket button{
    width: 128px;
    height: 50px;
    font-size: larger;
    font-weight: 600;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #E8AA31;
    cursor: pointer;
    padding: 0;
}


.card_full_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
}

.card{
    width: 82.5%;
    display: flex;
    padding: 0;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card_full{
    width: 58%;
    height: 533px;
    font-weight: 400;
    font-size: 100%;
    background-color: #FEFEFE;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card_full_img{
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.card_full_img img{
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.card_full_name{
    height: fit-content;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #E8AA31;
    font-weight: 700;
    font-size: 150%;
    color: #141414;
}

.card_full_category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.card_full_category a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #141414;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.card_full_category a:hover{
    color: #E8AA31;
}

.card_full_status{
    display: flex;
    width: fit-content;
    padding-left: 40px;
}

.card_full_true p{
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 12px;
    background-color: #00FF7F;
    display: flex;
    align-items: center;
}

.card_full_false p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 12px;
    background-color: #FF6347;
    display: flex;
    align-items: center;
}

.card_container_purchase{
    display: flex;
    padding-right: 40px;
}

.card_amount, .card_mini_amount{
    display: flex;
    background-color: #f6f6f6;
    border-radius: 12px;
}
.card_amount input[type="number"]{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    border: none;
    background-color: #f6f6f6;
    color: #202030;
}

.card_mini_amount input[type="number"]{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border: none;
    background-color: #f6f6f6;
    color: #202030;
}

.card_amount input::-webkit-outer-spin-button,
.card_amount input::-webkit-inner-spin-button,
.card_mini_amount input::-webkit-outer-spin-button,
.card_mini_amount input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.card_amount button, .card_mini_amount button{
    color: #fe9611;
    background-color: #f6f6f6;
    border: none;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}
#minus{
    padding: 10px 0px 10px 20px;
}
#plus{
    padding: 10px 20px 10px 0px;
}

.card_mini_amount #minus{
    padding: 10px 0px 10px 15px;
}

.card_mini_amount #plus{
    padding: 10px 15px 10px 0px;
}

.card_full_purchase{
    display: flex;
    justify-content: space-between;
    height: min-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 12px;
    background-color: #FEFEFE;
}

.card_full_price{
    font-weight: 600;
    font-size: 150%;
    color: #fe9611;
    width: 135px;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #f6f6f6;
}

.card_full_basket button{
    width: 167px;
    height: 50px;
    font-size: 135%;
    font-weight: 700;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #E8AA31;
    cursor: pointer;
}

.card_full_basket button:hover{
    background-color: #fe9611;
    transition: 0.05s;
}

.card_full_description{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #141414;
    padding: 10px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

table {width: 100%; border-collapse: collapse;}
table td {padding: 12px 16px; text-align: center;}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr td a img {width: 160px;}
table tbody tr:hover {background: #e8f6ff;}
.push a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
    margin: 3px;
    padding: 5px;
    border-radius: 12px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.order_container{
    display: flex;
    justify-content: center;
    width: 82,5;
}

.order-info, .order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.order-info table {width: 100%; border-collapse: collapse;}
.order-info table td {padding: 12px 16px; text-align: center;}
.order-info table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
.order-info table tr {border-bottom: 1px solid #e8e9eb;}
.order-info table tbody tr td a img {width: 80px;}

.order-form button{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: #E8AA31;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.form-section button{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: #E8AA31;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.container_reg{
    display: flex;
    justify-content: center;
}

.registration button{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #141414;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: #E8AA31;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.15);
}

.order_complie{
    text-align: center;
}