* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.sidebar ul {
    list-style: none;
    justify-content: space-between;
    padding: 0;
    max-width: 82.5%;
    color: white;
}

.sidebar_menu {
    width: 82.5%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar_menu li {
    position: relative;
}

.sidebar_menu li a {
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar_menu li a:hover,
.navbar_menu li a:hover {
    color: #E8AA31;
}

.sidebar_menu li a.sidebar_button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    top: 38px;
    height: 2px;
    width: 0;
    background: #E8AA31;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.sidebar_menu li a:hover::after {
    width: 100%;
    left: 0;
}

.header_list_container {
    width: 40%;
    height: 90px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list_container li a{
    text-decoration: none;
    color: black;
}

.header_cabinet_container {
    width: auto;
    height: 70px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cabinet_container li a img{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.header_list_button,
.header_list_container,
.header_cabinet_container,
.sidebar_menu,
.sidebar_menu_hidden,
.sidebar_cart_order,
.sidebar_cart_basket,
.sidebar_cart,
.header_logo {
    cursor: pointer;
}

header {
    width: 100%;
    height: 90px;
    background-color: #dedede;
}

.header {
    width: 82.5%;
    min-height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    width: 100%;
    height: 70px;
    background-color: #3a3f45;
    box-shadow: 0 4px 20px rgba(53, 53, 53, 0.18);
}


.sidebar_menu_hidden {
    position: absolute;
    top: 42px;
    opacity: 0;
    transition: 0.25s;
}

.sidebar_menu_hidden li {
    justify-content: space-between;
    align-items: center;
    background-color: #3a3f45;
    background-size: 100%;
}

.sidebar_menu_hidden li a {
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.sidebar_menu li:hover .sidebar_menu_hidden {
    opacity: 1;
}

.sidebar_menu_hidden {
    width: 100%;
}

.sidebar_search_container{
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: 400px;
    height: 41px;
    background-color: #dedede;
}

.sidebar_search {
    padding: 0 10px;
    width: 400px;
    border: 1px solid #3a3f45;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.sidebar_input {
    border: none;
    outline: none;
    width: 377px;
    height: 41px;
    background-color:#dedede;
    font-size: 17px;
}

.sidebar_search_button {
    width: 20px;
    height: 20px;
    border: none;
    background: url(../../../img/img/search.svg) no-repeat;
    background-color: #dedede;
    background-size: 100%;
    cursor: pointer;
    margin-top: 3px;
}

.sidebar_card {
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar_cart{
    margin-right: 20px;
}

.sidebar_cart_order {
    color: #E8AA31;
}

.slider_container {
    max-width: 100%;
}

.slider {
    max-width: 100%;
    width: fit-content;
    margin: auto;
    overflow: hidden;
}

.slider_line {
    display: flex;
    position: relative;
    transition: all ease 1s;
}

.description {
    width: 100%;
    height: 330px;
    background-color: #3a3f45;
}

.description h1 {
    text-align: center;
    padding: 60px;
    color: #E8AA31;
}

.description p {
    text-align: center;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 60px;
    color: white;
}

.description::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 82.5%;
    background: #E8AA31;
    margin-left: 9.3%;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #3a3f45;
}

.footer_container {
    width: 82.5%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.footer_contact {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer a,
.footer p {
    color: white;
}

.footer_contact p {
    margin-left: 90px;
}

.footer_contact a {
    text-decoration: none;
}

.about {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;

}

.about_restrictions,
.about_privacy_policy {
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
}

.about_restrictions h2 {
    color: #E8AA31;
    text-align: center;
}

.about_restrictions h3,
.about_privacy_policy h2,
h3 {
    color: #E8AA31;
    margin-top: 12px;
    text-align: center;

}

.about_restrictions p,
.about_privacy_policy p {
    color: #141414;
    margin-top: 12px;
    text-align: justify;
}

.content{
    display: flex;
    width: 100%;
}


.card_mini {
    width: 375px;
    height: 500px;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.card_mini_img {
    width: 375px;
    height: 295px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: red;
}

.card_mini_name {
    width: 335px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aqua;
}

.card_mini_category {
    width: 335px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: brown;
}

.card_mini_status{
    width: 335px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: black;
}

.card_mini_line {
    height: 2px;
    width: 335px;
    background: #E8AA31;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card_mini_amount {
    position: relative;
    display: flex;
    width: 335px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #040404;
    border-radius: 3px;
}

.card_mini_amount input {
    padding: 0px 0px 0px 245px;
    width: 330px;
    height: 28px;
    margin-left: 1px;
    outline: none;
    border: none;
}

.card_mini_amount_label {
    padding: 5px;
    position: absolute;
}

.card_mini_purchase {
    display: flex;
    width: 335px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: purple;
}

.card_mini_price {
    width: 167px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: burlywood;
}

.card_mini_basket{
    width: 167px;
    height: 50px;
}

.card_mini_basket button{
    width: 167px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #E8AA31;
    cursor: pointer;
}

.card{
    width: fit-content;
    display: block;
    flex-wrap: wrap;
}